    <footer id="footer">   
        <div class="container">
            Helpdesk: <a href="mailto:support@rl-uniforms.com">support@rl-uniforms.com</a> <br><br>
            Copyright © 2017 GEGM- all rights reserved 
        </div>
    </footer>
    
    <script src="js/lib.min.js"></script>
    <script src="js/scripts.min.js" async></script>
    <div id="fog"></div>
