<header id="header" class="navbar" role="navigation">
    <div class="container">

        <div class="navbar-header">
            <a class="navbar-brand" href="index.html">
                <img src="images/logo-wimbledon.png" alt="Ralph Lauren - Wimbledon">
            </a>
        </div>

        <!-- Large screen menu -->
        <nav class="navbar-collapse menu data-user"> 
            <span class="welcome">Welcome <span class="upper">John</span></span>
            <ul class="nav navbar-nav">
                <li><a href="index.html"><i class="icon-nav-home"></i><span>Home</span></a></li>
                <li><a href="order.html"><i class="icon-nav-orders"></i><span>My Orders</span></a></li>
                <li><a href="order.html"><i class="icon-nav-account"></i><span>My Account</span></a></li>
                <li><a href="login.html"><i class="icon-nav-logout"></i><span>Logout</span></a></li>
                <li class="toggle-btn">
                    <span></span>
                    <span></span>
                    <span></span>
                </li>
            </ul>
        </nav><!-- /.navbar-collapse -->
        <a class="switch-user" href="#" title="Back to Admin">
            <i class="icon-close"></i>
        </a>
    </div>
</header>

