{%  extends 'base.html.twig' %}


{%  block body %}

        <h1> {{ nom }} ! </h1>

        <p>
            <ul>
                <li>
                   ID : {{ id }}
                </li>
                <li>
                   Prix : {{ prix }}
                </li>

                <li>
                   Description : {{ description }}
                </li>

        </ul>

        </p>

{%  endblock %}
